*
!yt-dlp/
yt-dlp/*.pyc
yt-dlp/*.pyo
yt-dlp/*.class
yt-dlp/*~
yt-dlp/*.DS_Store
yt-dlp/wine-py2exe/
yt-dlp/py2exe.log
yt-dlp/*.kate-swp
yt-dlp/build/
yt-dlp/dist/
yt-dlp/MANIFEST
yt-dlp/README.txt
yt-dlp/yt-dlp.1
yt-dlp/yt-dlp.bash-completion
yt-dlp/yt-dlp.fish
yt-dlp/yt-dlp/extractor/lazy_extractors.py
yt-dlp/yt-dlp
yt-dlp/yt-dlp.exe
yt-dlp/yt-dlp.tar.gz
yt-dlp/.coverage
yt-dlp/cover/
yt-dlp/updates_key.pem
yt-dlp/*.egg-info
yt-dlp/*.srt
yt-dlp/*.ttml
yt-dlp/*.sbv
yt-dlp/*.vtt
yt-dlp/*.flv
yt-dlp/*.mp4
yt-dlp/*.m4a
yt-dlp/*.m4v
yt-dlp/*.mp3
yt-dlp/*.3gp
yt-dlp/*.wav
yt-dlp/*.ape
yt-dlp/*.mkv
yt-dlp/*.swf
yt-dlp/*.part
yt-dlp/*.ytdl
yt-dlp/*.swp
yt-dlp/test/local_parameters.json
yt-dlp/.tox
yt-dlp/yt-dlp.zsh

# IntelliJ related files
yt-dlp/.idea
yt-dlp/*.iml

yt-dlp/tmp/
yt-dlp/venv/

# VS Code related files
yt-dlp/.vscode
