*
!youtube-dl/
youtube-dl/*.pyc
youtube-dl/*.pyo
youtube-dl/*.class
youtube-dl/*~
youtube-dl/*.DS_Store
youtube-dl/wine-py2exe/
youtube-dl/py2exe.log
youtube-dl/*.kate-swp
youtube-dl/build/
youtube-dl/dist/
youtube-dl/MANIFEST
youtube-dl/README.txt
youtube-dl/youtube-dl.1
youtube-dl/youtube-dl.bash-completion
youtube-dl/youtube-dl.fish
youtube-dl/youtube_dl/extractor/lazy_extractors.py
youtube-dl/youtube-dl
youtube-dl/youtube-dl.exe
youtube-dl/youtube-dl.tar.gz
youtube-dl/.coverage
youtube-dl/cover/
youtube-dl/updates_key.pem
youtube-dl/*.egg-info
youtube-dl/*.srt
youtube-dl/*.ttml
youtube-dl/*.sbv
youtube-dl/*.vtt
youtube-dl/*.flv
youtube-dl/*.mp4
youtube-dl/*.m4a
youtube-dl/*.m4v
youtube-dl/*.mp3
youtube-dl/*.3gp
youtube-dl/*.wav
youtube-dl/*.ape
youtube-dl/*.mkv
youtube-dl/*.swf
youtube-dl/*.part
youtube-dl/*.ytdl
youtube-dl/*.swp
youtube-dl/test/local_parameters.json
youtube-dl/.tox
youtube-dl/youtube-dl.zsh

# IntelliJ related files
youtube-dl/.idea
youtube-dl/*.iml

youtube-dl/tmp/
youtube-dl/venv/

# VS Code related files
youtube-dl/.vscode
